resources/external/xhtml2/xhtml2-20060726/RELAXNG/xforms-repeat-attrib.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>XForms Repeat Attribute Collection Module</x:h1>

  <define name="XFORMS.Repeat.attrib">
    <optional>
      <attribute name="repeat-model">
        <ref name="IDREF.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="repeat-bind">
        <ref name="IDREF.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="repeat-nodeset">
        <ref name="LocationPath.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="repeat-startindex">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="repeat-number">
        <ref name="Number.datatype"/>
      </attribute>
    </optional>
  </define>

</grammar>