resources/external/xhtml2/xhtml2-20060726/RELAXNG/xhtml-i18n-attrib-2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>I18N Attribute Module</x:h1>

  <div>
    <x:h2>I18N Attribute Collection</x:h2>

    <define name="lang.attrib">
      <optional>
        <attribute name="xml:lang">
          <ref name="LanguageCode.datatype"/>
        </attribute>
      </optional>
    </define>

    <define name="I18n.attrib">
      <ref name="lang.attrib"/>
    </define>
  </div>

  <define name="Common.attrib" combine="interleave">
    <ref name="I18n.attrib"/>
  </define>

</grammar>