resources/external/xhtml2/xhtml2-20060726/RELAXNG/xhtml-image-2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:x="http://www.w3.org/1999/xhtml">

  <x:h1>Image Module</x:h1>

  <div>
    <x:h2>The img element</x:h2>

    <define name="img">
      <element name="img">
        <ref name="img.attlist"/>
        <ref name="Text.model"/>
      </element>
    </define>

    <define name="img.attlist">
      <ref name="Common.attrib"/>
    </define>
  </div>

  <define name="Text.class" combine="choice">
    <ref name="img"/>
  </define>

</grammar>